body {
	background-color: white;

}

.container {
	
	width:100%;

	
}

.topTitle {
	width:100%;
	text-align: center;
	color: black;
	font-family: Arial;
}

.currentMonthTitle {
	text-align: center;
	display: inline;
}

.currentMonthBox {
	width: 95%;
	margin: 0 auto;
}

.currentMonthBox ul {
	list-style-type: none;
	
}

.currentMonthBox li {
	display: inline;
	
}

.day {
	width: 13%;
	height: 50px;
	display: inline-block;
	text-align: center;
}

.day:hover {
	color: red;
}

.forward:hover {
	color: red;
}

.forward {
	display: inline;
	margin-left: 15%;
}

.backward {
	display: inline;
	margin-right: 15%;
}

.centerTextMarginBottom {
	text-align: center;
	margin-bottom: 20px;
}


.Logo {
	display: inline-block;
}




















